<div class="row" id="hive-device-summary">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="hive-device-summary-total">
    <a href="/devices">
      <div class="dashboard-stat blue-madison">
        <div class="details">
          <div class="number">
             &nbsp;
          </div>
          <div class="desc">
             设备总数
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="hive-device-summary-online">
    <a href="/devices?is=online">
      <div class="dashboard-stat green-haze">
        <div class="details">
          <div class="number">
             &nbsp;
          </div>
          <div class="desc">
             在线设备
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="hive-device-summary-offline">
    <a href="/devices?is=offline">
      <div class="dashboard-stat red-intense">
        <div class="details">
          <div class="number">
             &nbsp;
          </div>
          <div class="desc">
             异常设备
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="hive-device-summary-add">
    <a href="/new_device">
      <div class="dashboard-stat yellow-lemon hive-theme-backgroundColor">
        <div class="details">
          <div class="number">
             +
          </div>
          <div class="desc">
             新增设备
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
