<div class="quick-bg-bar-content">
  <h1 class="hive-quick-deviceName">-</h1>
  <div class="quick-bg-barBox">
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-map"></i>
          <span class="caption-subject"></span>
          <div class="chart-options pull-right">
            <span Dtype="month">月</span>
            <span Dtype="day" class="bg-chart-option-actived">日</span>
          </div>
        </div>
      </div>
      <div id="quick-bg-calendar">
        <div class="row">
          <div class="col-xs-4 col-md-4 bg-calendar-left">
            <i class="fa fa-angle-left" Dtype="day"></i>
            <span></span>
          </div>
          <div class="col-xs-4 col-md-4 bg-calendar-middle">
            <i class="fa fa-calendar" Dtype="day"></i>
            <span></span>
          </div>
          <div class="col-xs-4 col-md-4 bg-calendar-right">
            <span></span>
            <i class="fa fa-angle-right" Dtype="day"></i>
          </div>
        </div>
      </div>
      <div class="portlet-body">
        <div class="display-none">
          <div id="bg-temp-content">
            <div class="bg-no-data hide">当前时间段没有设备数据</div>
            <div id="bg-temp" Dtype="chart">
            </div>
          </div>
        </div>
        <div class="display-none">
          <div id="bg-hum-content">
            <div class="bg-no-data hide">当前时间段没有设备数据</div>
            <div id="bg-hum" Dtype="chart">
            </div>
          </div>
        </div>
        <div class="display-none">
          <div id="bg-shake-content">
            <div class="bg-no-data hide">当前时间段没有设备数据</div>
            <div id="bg-shake" Dtype="chart">
            </div>
          </div>
        </div>
        <div class="display-none">
          <div id="bg-ray-content">
            <div class="bg-no-data hide">当前时间段没有设备数据</div>
            <div id="bg-ray" Dtype="chart">
            </div>
          </div>
        </div>
        <div class="display-none hidden">
          <div id="bg-energy-content">
            <div class="bg-no-data hide">当前时间段没有设备数据</div>
            <div id="bg-energy" Dtype="chart">
            </div>
          </div>
        </div>
        <div class="display-none">
          <div id="bg-image-content">
            <div class="bg-no-data hide">当前时间段没有设备数据</div>
            <div id="bg-image" Dtype="image" class="row hive-grid-row">
            </div>
          </div>
        </div>
        <div class="display-none">
          <div id="bg-map-content">
            <div class="bg-no-data hide">当前时间段没有设备数据</div>
            <div id="bg-map" Dtype="map">
            </div>
          </div>
        </div>
        <textarea id="bg-picture-tmpl" style="display:none">  
            {#foreach $T.items as d}
                <div id="{$T.d.elem_id}" class="col-md-4 col-xs-6 hive-grid-col" data-id="{$T.d.device_id}">
                    <div class="hive-picture-cell" data-date="{$T.d.date}" style={#if $T.d.has_data == true }"background:url('{$T.d.url}');background-size: 100% 100%;"{#else}"background-color:#DB5323;"{#/if}>
                    </div>
                </div>
            {#/for}
        </textarea>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#bg-modal" style="display:none;" id="bg-modal-btn">
        </button>
        <div class="modal fade" id="bg-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <span></span>
                <i class="fa fa-times" data-dismiss="modal" aria-label="Close"></i>
              </div>
              <div class="modal-body">
                <img />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


