<div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <i class="fa <%= icon %>"></i>
        <a href=""><%= render_breadcrumbs %></a>
      </li>
      <li class="hive-pageBar-latesTime hive-page-hidden">
      </li>
      <li class="hive-pageBar-sortBtn hive-page-hidden">
      	排序
      	<i class="fa fa-align-justify"></i>
      </li>
     </ul>
     <div class="hive-pageBar-quickPage">
     	<div data-type="0">时间</div>
     	<div data-type="1">状态</div>
     	<div data-type="2">名称</div>
     </div>
</div>