.hive-theme-fontColor {
	color: #CD96CD !important;
}
.hive-theme-backgroundColor {
	background-color: #CD96CD !important;
}
.chart-option-actived {
	background-color: #CD96CD !important;
}
.hive-grid-cell {
	background-color: #CD96CD;
}
.bg-chart-option-actived {
	background-color: #CD96CD !important;
}
.hive-map-span-actived {
	background-color: #CD96CD !important;
}
.wx-theme-borderColor {
	border-color: #CD96CD !important;
}
.wx-hive-grid-cell {
	background-color: #CD96CD !important;
}