<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>红外感应</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            background-color: #BBB;
            width: 100%;
            height: 100%;
            position: relative;
            transition:2s;
        }

        html {
            /*font-size: 100%;*/
            width: 100%;
            height: 100%;
        }
                .hexagon, .red {
          position: relative;
          width: 300px; 
          height: 173.21px;
          background-color: #FFD70D;
          margin: 86.60px 0;
        }

        .red {
            background-color: Red;
        }

        .hexagon:before,
        .hexagon:after,
        .red:before,
        .red:after {
          content: "";
          position: absolute;
          width: 0;
          border-left: 150px solid transparent;
          border-right: 150px solid transparent;
        }

        .hexagon:before {
          bottom: 100%;
          border-bottom: 86.60px solid #FFD70D;
        }

        .hexagon:after {
          top: 100%;
          width: 0;
          border-top: 86.60px solid #FFD70D;
        }

        .red:before {
          bottom: 100%;
          border-bottom: 86.60px solid Red;
        }

        .red:after {
          top: 100%;
          width: 0;
          border-top: 86.60px solid Red;
        }

        div.container {
            left: 50%;
            position: absolute;
            margin-top: 0px;
            margin-left: -150px;
        }        


        .infrared-ray {
            margin-top: 100px;
            transition: 2s;
            padding-top: 50px;
        }
        p {
            font-family: "方正舒体", Geneva, Arial, Helvetica, sans-serif;
            text-align: center;
            color: rgba(19, 21, 20, 0.53);
            font-weight: bold;
            font-size: 24px;
        }

        .unit {
            font-size: 15px;
        }

        @media (min-width: 640px) {
            p {
                font-size: 24px;
            }
        }

        @media (min-width: 1024px) {
            p {
                font-size: 24px;
            }
        }

        @media (min-width: 1280px) {
            p {
                font-size: 24px;
            }
        }

        @media (min-width: 1360px) {
            p {
                font-size: 24px;
            }
        }

        @media (min-width: 1440px) {
            p {
                font-size: 24px;
            }
        }

        @media (min-width: 1600px) {
            p {
                font-size: 24px;
            }
        }

        @media (min-width: 1920px) {
            p {
                font-size: 24px;
            }
        }
    </style>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
          function connect() {
            $.ajax({
                type: "GET",
                url: "/demo/ray?t=" + encodeURI(new Date()),
                data: {},
                dataType: "json",
                success: function (data) {  
                    if(!data) {
                        data = { result:{ ray: 0, start: '', end: '', time: '', sum: '' } };
                    }   
                    change(data.result.ray, data.result.start, data.result.end, data.result.time, data.result.sum);
                    setTimeout(connect, 1000);
                }
            });
        }

        function change(ray, start, end, time, sum) {
            if(ray > 5) {
                $("#hexagon").addClass('red');
                $("#hexagon").removeClass('hexagon');
            } else {
                $("#hexagon").addClass('hexagon');
                $("#hexagon").removeClass('red');
            }

            $('#ray').animate({ opacity: 0.1 }, function () {
                $('#ray').html(ray);
                $('#ray').css('opacity', 1);
                $("#time").html(time);
                $("#sum").html(sum);
                //$("#end").html(end);
            });
        }
        $(document).ready(function () {
            connect();
        });
    </script>
</head>
<body>
    <div class="container">
        <div id="hexagon" class="hexagon">
            <p class="infrared-ray">
                今天统计次数: <span id="sum"></span>
                <br/>
                <span id="time"></span>
                <br/>当前经过人数:&nbsp;<span id="ray"></span> <span class="unit">人/20秒</span>
            </p>
        </div>
    </div>
</body>
</html>

