<div class="wx-energy" id="wx-energy">
    <div class="row hive-grid-row" data-bind="foreach: energys">
        <div class="col-md-3 col-sm-4 col-xs-6 hive-grid-col" data-bind="click: $root.gridClick">
            <div data-bind="css: gridColor">
                 <div>
                     <p class="cell-name" data-bind="text: name"></p>
                </div>
                 <div>
                      <label class="cell-label cell-labelText" data-bind="text: energy"></label>
                      <label class="cell-label-symbol" data-bind="text: energySysmbol"></label>
                 </div>
            </div>
        </div>
    </div>
</div>