<div class="wx-ray" id="wx-ray">
    <div class="row hive-grid-row" data-bind="foreach: rays">
        <div class="col-md-3 col-sm-4 col-xs-6 hive-grid-col" data-bind="click: $root.gridClick">
            <div data-bind="css: gridColor">
                 <div>
                     <p class="cell-name" data-bind="text: name"></p>
                </div>
                 <div>
                      <label class="cell-label cell-labelText" data-bind="text: ray"></label>
                      <label class="cell-label-symbol" data-bind="text: raySysmbol"></label>
                 </div>
            </div>
            <i data-bind="css: battery"></i>
        </div>
    </div>
</div>